<div id="booking">
<bars></bars>    

<h2 class="text-center">Hotels and accomodation</h2>

<div *ngFor="let destination of destinations">
    
      <div id="hotelcard" class="card text-center text-white bg-warning mb-5 opacity-75">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" >Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">{{ destination.price }} for this direction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Galery</a>
            </li>
          </ul>
        </div>
        <div class="card-body bg-dark">
          <h5 class="card-title">{{ destination.country }}</h5>
          <p class="card-text">{{ destination.description }}</p>
          <p class="card-text"> next available date {{ destination.strtdate }}</p>
          <p class="card-text">1 Person, 1 week {{ destination.priceAnclsv }} all inklusive €</p>
          <a class="btn btn-warning" (click)="addToCart(destination)">Book now!</a>
        </div>
      
    
    
    </div>
  </div>
 <!--colums-->
  


</div>
